/* Loads font to match logo - technically illegal */
@font-face {
    font-family: "aktiv-grotesk";
    src: url("/fonts/AktivGroteskCorp-Regular.ttf") format("truetype"),
         url("/fonts/AktivGroteskCorp-Regular.woff") format("woff"),
         url("/fonts/AktivGroteskCorp-Regular.woff2") format("woff2");
}

body{
    margin: 0px; /* Removes random white space from sides */
    display: flex;
    flex-direction: column;
    font-family: "aktiv-grotesk", "Open Sans";
    color: white;
}

/* removes blue color and underline */
a {
    text-decoration: none;
    color: inherit;
}

/* removes bullets */
ul li{
    list-style: none;
    display: inline;
}

/* top left logo */
.logo {
    width: 300px;
    height: auto;
    padding: 5px;
}

.darkGray {
    background-color: #26292b;
}

.lightGray {
    background-color: #3E4346;
}

/* moves the items in from the sides + flex */
.main {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
}

/* flex the header with hyperlinks */
.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-links {
    padding-right: 5px;
    color: white;
    display: flex;
    letter-spacing: 1px;
    gap: 15px;
    align-items: center;
    flex-shrink: 0;
}

.tired {
    font-size: 32px;
    margin-left: 2rem;
    flex-shrink: 0;
}

.ronSwanson {
    display: flex;
    justify-content: center;
    margin-bottom: 2.2rem;
}

.boxwrapper {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

.box-star {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    text-align: center;
}

.box {
    background-color: #3E4346;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 1em;
    width: 300px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.whatWeDo {
    margin-top: 5rem; 
    margin-bottom: 5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

#right {
    text-align: right;
    padding: 0rem 4rem;
}


.middleText {
    margin: 20px 0px;
}

.stepsWrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 30px 5%;
}

.invisibleBox {
    display: flex;
    flex-flow: column wrap;
    background-color: #3E4346;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    justify-content: center;
}

.circleParagraph {
    margin: 0px 50px;
    text-align: center; 
    font-size: 24px; 
    padding: 20px 0px;
}

.circleHeading {
    text-align: center; 
    margin-bottom: 0;
}

.getStarted {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 2rem;
}

.contactUs {
    font: inherit;
    font-size: 1.5rem;
    padding: 1.5rem;
    align-self: center;
    color: white;
    background-color: #3E4346;
    border: 5px solid #3E4346;
}

.footer {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    margin: 0% 12%;
}