/* Loads font to match logo - technically illegal */
@font-face {
    font-family: "aktiv-grotesk";
    src: url("/fonts/AktivGroteskCorp-Regular.ttf") format("truetype"),
         url("/fonts/AktivGroteskCorp-Regular.woff") format("woff"),
         url("/fonts/AktivGroteskCorp-Regular.woff2") format("woff2");
}

/* Removes random white space from sides */
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: "aktiv-grotesk", "Open Sans";
}

/* removes blue color and underline */
a {
    text-decoration: none;
    color: inherit;
}

/* removes bullets */
ul li{
    list-style: none;
    display: inline;
    /* padding: 5px; */
}

/* top left logo */
.logo {
    width: 300px;
    height: auto;
    padding: 5px;
}

.darkgray {
    background-color: #26292b;
    /* font-family: 'aktiv-grotesk'; */
}

/* moves the items in from the sides + flex */
.main {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
}

/* flex the header with hyperlinks */
.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-links {
    padding-right: 5px;
    color: white;
    display: flex;
    letter-spacing: 1px;
    gap: 15px;
    align-items: center;
    flex-shrink: 0;
}

.tired {
    font-size: 32px;
    margin-left: 2rem;
    flex-shrink: 0;
}

.ronswanson {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.boxwrapper {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
}

.box-star {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.box {
    background-color: #3E4346;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 1em;
    /* the viewport width makes the boxes do funny things, for now keep px size even though relative sizes are better (maybe rem later) */
    /* width: 20vw; */
    width: 300px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.testimonial {
    color: white;
}

.lightgray {
    background-color: #3E4346;
    color: white;  
    font-size: 30px;
    /* padding: 5px; */
}

.quote {
    margin-left: 12%;
    margin-right: 12%;
    padding: 0.4em;
}

.footer {
    display: flex;
    font-size: 18px;
    justify-content: center;
    color: white;
    padding: 2rem;
}