/* Loads font to match logo - technically illegal */
@font-face {
    font-family: "aktiv-grotesk";
    src: url("/fonts/AktivGroteskCorp-Regular.ttf") format("truetype"),
         url("/fonts/AktivGroteskCorp-Regular.woff") format("woff"),
         url("/fonts/AktivGroteskCorp-Regular.woff2") format("woff2");
}

@media only screen and (max-width: 1279px) {    
    h2 {
        margin-left: 0.4rem;
    }
    
    .logo {
        width: 35vw;
        margin-right: 1.3rem;
    }

    .header {
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
        margin-bottom: 0;
    }

    .whatWeDo {
        flex-flow: column;
        text-align: center;
        padding: 0;
        width: 75vw;
        align-self: center;
        margin-left: 0;
    }

    #rightText {
        font-size: 1.4rem;
        text-align: center;
    }
    
    .tired {
        text-align: center;
        margin-left: 0rem;
    }

    .main {
        margin-left: 0;
    }

    .right-links {
        padding-left: 0;
    }
    
    .flexRon {
        width: 75vw;
        height: auto;
    }

    #left {
        padding-right: 0;
        font-size: 2rem;
    }

    .stepsWrapper {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        margin: 30px 5%;
    }

    .invisibleBox {
        background-color: #3E4346;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        justify-content: center;
    }

    .footer {
        flex-flow: column nowrap;
        text-align: center;
    }
}

@media only screen and (min-width: 1280px) {
    .logo {
        width: 300px;
    }
    
    .main {
        margin: 0% 12%;
    }

    .tired {
        margin-left: 2rem;
    }

    .flexRon {
        width: 50vw;
        height: auto;
    }

    .whatWeDo {
        padding: 1rem 2rem;
        margin-left: 2rem;
    }

    #left {
        padding-right: 4rem;
        font-size: 42px;
    }

    .invisibleBox {
        display: flex;
        flex-flow: column wrap;
        background-color: #3E4346;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        justify-content: center;
    }

    .stepsWrapper {
        display: flex;
        align-items: center;
        flex-flow: column;
        margin: 30px 5%;
    }

    .firstCircle {
        margin-right: auto;
    }

    .secondCircle {
        margin-left: auto; 
        margin-top: -200px;
    }

    .thirdCircle {
        margin-right: auto; 
        margin-top: -150px;
    }
    
    .circleHeading {
        margin-bottom: 0;
    }

    .circleHeadingTwo {
        margin: 0px 100px;
        margin-top: 20px;
    }
}

body {
    margin: 0px; /* Removes random white space from sides */
    display: flex;
    flex-direction: column;
    font-family: "aktiv-grotesk", "Open Sans";
    color: white;
}

/* removes blue color and underline */
a {
    text-decoration: none;
    color: inherit;
}

/* removes bullets */
ul li{
    list-style: none;
    display: inline;
}

ul {
    padding-inline-start: 0px;
}

/* top left logo */
.logo {
    height: auto;
    padding: 5px;
}

.darkGray {
    background-color: #26292b;
}

.lightGray {
    background-color: #3E4346;
}

/* moves the items in from the sides + flex */
.main {
    display: flex;
    flex-direction: column;
}

/* flex the header with hyperlinks */
.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-links {
    padding-right: 5px;
    color: white;
    display: flex;
    letter-spacing: 1px;
    gap: 15px;
    align-items: center;
    flex-shrink: 0;
}

.tired {
    font-size: 32px;
    flex-shrink: 0;
}

.ronSwanson {
    display: flex;
    justify-content: center;
    margin-bottom: 2.2rem;
}

.boxwrapper {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

.box-star {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    text-align: center;
}

.box {
    background-color: #3E4346;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 1em;
    width: 300px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.whatWeDo {
    margin-top: 5rem; 
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#right {
    text-align: right;
    padding: 0rem 4rem;
    font-size: 32px;
}

.middleText {
    margin: 20px 0px;
}

.invisibleBox {
    margin: 0.7rem 0rem;
}

.circleParagraph {
    margin: 0px 50px;
    text-align: center; 
    font-size: 24px; 
    padding: 20px 0px;
}

.circleHeading {
    text-align: center; 
}

.getStarted {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 2rem;
}

.contactUs {
    font: inherit;
    font-size: 1.5rem;
    padding: 1.5rem;
    align-self: center;
    color: white;
    background-color: #3E4346;
    border: 5px solid #3E4346;
    transition: 0.3s;
}

.contactUs:hover {
    transition-duration: 0.5s;
    transform: scale(1.25);
}

.footer {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    margin: 0% 12%;
}

.transition {
    transition-property: all;
    transition-duration: 0.5s;
}

